@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;500&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0%;
    margin: 0%;
}

.navbar {
    background-color: rgb(91, 60, 136);
}

#navBarText {
    font-weight: 500;
    font-size: 1.7rem;
    color: rgb(250, 250, 250);
}

.menuHamburguesa {
    color: rgb(250, 250, 250);
}

button.navbar-toggler{
    border-color: rgb(250, 250, 250);
}

a.nav-link{
    font-size: 1.5rem;
    color: rgb(250, 250, 250);
}


/*  FOOTER  */

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(225, 225, 225);
}

.btnHome {
    width: auto;
    padding: 1% 5% 1% 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    background-color: rgb(91, 60, 136);
    color: rgb(250, 250, 250);
    text-decoration: none;
    font-size: 1.2rem;
}